.env
node_modules/
src/
# Ignore all files in the images directory
images/*
business_images/*
profile_images/*
temp_images/*

# But not the directory itself
!images/
!profile_images/
!business_images/
!temp_images/

code.ts
pages